<div class="w-100 d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="row w-100">
    <div class="col-md-1"></div>
    <div class="col-md-10 d-flex justify-content-center align-items-center flex-column">
      <img
        src="https://consultation.co.jp/img/404-page-animation-example.gif"
        alt="404 Animation"
        class="img-fluid"
        style="width: 60%; height: 300px;"
      />
      <h1 class="mt-3">Looks Like You Are Lost</h1>
      <h3 class="mt-2">The page you are looking for is unavailable</h3>
      <button class="btn btn-success mt-5 rounded-0 "routerLink="/">Back Home</button>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
